{% extends "base.html" %}
{% load static %}
{% block title %}
  Editar Producto
{% endblock title %}

{% block content %}
<h1>Editar Producto {{producto.nombre}}</h1>
    <form class="form-control" action="{% url 'editar' producto.id %}" method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Nombre</label>
      <input type="text" class="form-control" name="nombre" id="nombre" value="{{producto.nombre}}" required placeholder="ingrese nombre del producto">
    </div>

    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Precio</label>
      <input type="number" class="form-control" name="precio" id="precio" value="{{producto.precio}}" required placeholder="Ingrese precio del Producto">
    </div>

    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Stock</label>
      <input type="number" class="form-control" name="stock" id="stock" value="{{producto.stock}}" required placeholder="Ingrese stock del Producto">
    </div>
            
    <div class="modal-footer">
      <button type="submit" class="btn btn-success">Aceptar</button>
      <a href="{% url 'base' %}" class="btn btn-danger">Cancelar</a>
    </div>
  </form>

  

{% endblock content %}
