{% extends "base.html" %}
{% load static %}
{% block title %}
  Listado De Articulos
  
{% endblock title %}

{% block content %}
  <h1>Listado De Articulos</h1>
  <table class="table table-bordered table-hover">
    <thead class="table-primary">
      <th>Nombre</th>
      <th>Precio</th>
      <th>Stock</th>
      <th>Categoria</th>
      <th>Acciones</th>
    </thead>
    <tbody>
      {% for producto in productos %}
        <tr class="Productos">
          <td>{{ producto.nombre }}</td>
          <td>{{ producto.precio }}</td>
          <td>{{ producto.stock }}</td>
          <td>{{ producto.categoria }}</td>

          <td>
            <a href="{% url 'editar' producto.id %}"><button type="button" class="btn btn-warning">editar</button></a>
            <a href="{% url 'eliminar' producto.id %}"><button type="button" class="btn btn-danger">eliminar</button></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#crearProducto">
  crear producto
</button>

<!-- Modal -->
<div class="modal fade" id="crearProducto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">crear nuevo producto</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="form-control" action="{% url 'crear' %}" method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="nombre" required placeholder="ingrese nombre del producto">
          </div>

          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Precio</label>
            <input type="number" class="form-control" name="precio" id="precio" required placeholder="Ingrese precio del Producto">
          </div>

          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Stock</label>
            <input type="number" class="form-control" name="stock" id="stock" required placeholder="Ingrese stock del Producto">
          </div>

          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Categoria</label>
            <select name="categoria" id="categoria" class="form-select"  required>
              <option value="" selected>Elija la categoria</option>
            {% for categoria in categorias %}
              <option value="{{categoria.id}}">{{categoria.nombre}}</option>
            {% endfor %}
            </select>
          </div>
                  
          <div class="modal-footer">
            <button type="reset" class="btn btn-danger" data-bs-dismiss="modal">cerrar</button>
            <button type="submit" class="btn btn-success">aceptar</button>
          </div>
        </form>
    </div>
  </div>
</div>

  
{% endblock content %}
